* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #E4DFDA;
}

.counter {
    display: flex;
}

button {
    padding: 15px 30px;
    font-size: 3rem;
    margin: 0 20px;
    background-color: #000;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

#count {
    font-size: 5rem;
    color: #000;
}